.idea
tests/KD/iOS/KDManager.app
*.pyc
.cache
appium.ini
idev.pid
tests_framework/CTAP_mock/dummyDataGenerator/Preloaded
ec_utils/ios/KDManager/KDManager.xcodeproj/project.xcworkspace/xcuserdata
ec_utils/ios/KDManager/KDManager.xcodeproj/xcuserdata
CI_Environment.ini
logcat*.txt
CHECK.txt
venv
*.css
*.html
*.xml
*.xsl*
pytest.log
screenshots
